@import './variables.scss';
@import './responsive.scss';

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  color: #ff00c4;
}

.url-link {
  cursor: pointer;
}

.link {
  color: $primary-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
.underline {
  text-decoration: underline;
}

a:hover {
  color: $primary-color;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-bold;
  color: $heading-color;
}

h1 {
  font-size: 42px;
  line-height: 46px !important;
  font-family: $primary-font-bold;

  @media only screen and (max-width: 767px) {
    line-height: 30px !important;
    font-size: 24px;
  }
  @media only screen and (width: 768px) {
    line-height: 36px !important;
  }

  span {
    color: $primary-color;
    text-transform: none;
  }
}

h2 {
  margin-bottom: 10px;
  font-size: 26px !important;
}

h3 {
  font-size: 20px;
  font-family: $primary-font-black;
}

.heading {
  font-size: 50px;
  font-family: $primary-font-bold;
}

.sub-heading {
  font-size: 35px;
  font-family: $primary-font-bold;
  color: #070707;
}

h4 {
  font-size: 26px;
  font-family: $primary-font-bold;
}

.banner-heading {
  font-size: 36px;
  font-family: $primary-font-bold;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 10px;
  line-height: 26px;

  h2 {
    font-size: 20px;
    font-family: $primary-font-black;
  }
}
